absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
astunparse
async-timeout
attrs
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cycler
cymem
data-process
datasets
debugpy
decorator
dill
distro
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup
executing
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gcsfs
gdown
gensim
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-generativeai
google-pasta
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
imbalanced-learn
ipykernel
ipython
jedi
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
langcodes
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mlxtend
mpmath
multidict
multiprocess
murmurhash
namex
narwhals
nest-asyncio
networkx
nltk
numpy
oauthlib
obspy
obspyh5
openai
opt_einsum
optree
packaging
pandas
parso
pillow
platformdirs
preshed
prompt_toolkit
propcache
proto-plus
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
PySocks
python-dateutil
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
sentencepiece
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tf_keras
thinc
threadpoolctl
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
uritemplate
urllib3
wasabi
watchdog
wcwidth
weasel
Werkzeug
wrapt
xxhash
yam
yarl
zipfile38
